.signInPage.pageContainer
  .wrapper
    .mainSection
      .signInContainer.whiteContainer
        .head Sign In
        .body
          = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
            = f.email_field :email, :autofocus => true, :placeholder => "Email", :class => "textBox"
            = f.password_field :password, :placeholder => "Password", :class => "textBox"
            .links.clearfix
              - if devise_mapping.rememberable?
                .link.remember.left
                  = f.check_box :remember_me
                  = f.label :remember_me
                .link.other.right
                  = render "devise/shared/links"
            = f.submit "Sign in", :class => "btn"