.dojosListPage.pageContainer
  .wrapper
    .mainSection
      .whiteContainer
        .head Dojos
        .body
          .dojos.clearfix
            - @dojos.each do |dojo|
              .dojo.left
                .image
                  = link_to "", dojo, :class => "viewIcon"
                  = link_to image_tag(dojo.avatar_url(:small)), dojo
                  .blackCover
                  .details
                    .dojoName= dojo.name
                    .instructorName= dojo.instructor.full_name
                    .membersCount
                      = dojo.users.count
                      Member(s)
          .dojos