.dojosListPage.pageContainer
  .wrapper
    .mainSection
      .gridStyle.dojosList.whiteContainer
        .head Dojos
        .body
          .listItems.dojos.clearfix
            - @dojos.each do |dojo|
              .listItem.dojo.left
                .image
                  = link_to "", dojo, :class => "viewIcon"
                  = link_to image_tag(dojo.avatar_url(:small)), dojo
                  .details
                    .detail.firstDetail.dojoName= dojo.name
                    .detail.secondDetail.instructorName= dojo.instructor.full_name
                    .detail.thirdDetail.membersCount
                      = dojo.users.count
                      Member(s)
          .dojos
