<!DOCTYPE html>
<html>
<head>
  <title>Shinkyokushin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <%= link_to "karate", root_path, :id => "logo" %>
          <nav>
            <ul class="nav pull-right">
              <li><%= link_to "Home", root_path %></li>
              <li><%= link_to "Register", registration_path %></li>
              <li><%= link_to "Sign in", '#' %></li>
          		<% if user_signed_in? %>
          		<li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
          		<% end %>
            </ul>
          </nav>
        </div>
      </div>
</header>
<div class="container">
	<%= yield %>
</div>
</body>
</html>
